body {
  background-image: url(https://images.pexels.com/photos/268966/pexels-photo-268966.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(212, 144, 17);
}

.on {
  background-color: rgb(0, 128, 122);
}

.box:hover {
  background: #d41827;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: rgb(32, 31, 31);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-family: cursive;
}


h4 {
  margin-top: 0px;
}